<h2>Variables</h2>
<ul>
    <li>KeyWords vs Identifier</li>
    <li>Comments</li>
    <li>Single Line vs Multiple Line</li>
    <li>Multiple assignments</li>
    <li>How do we Store a Variable it in the memory?</li>
    <li>print</li>
    <li>type and id</li>
</ul>

In [5]:
a = 10
b = 24.5
c = "Hello"
print(a,b,c)

10 24.5 Hello

In [7]:
import keyword
print(keyword.kwlist,len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'] 35

In [9]:
# Single Line Comment

'''This is 
A Multiple
Line Comment'''

' This is \nA Multiple\nLine Comment'

In [17]:
a,b,c = 10,24.5,"Hello"
print(a,b,c)

10 24.5 Hello

In [25]:
id(c) #Print address stored in a

2263869012608

In [21]:
type(c)

str

In [2]:
print(a)

10

<h2>Data Types</h2>
<table border="1">
<tbody>
<tr><td>Text Type:</td><td>str</td></tr>
<tr><td>Numeric Types:</td><td>int, float, complex</td></tr>
<tr><td>Sequence Types:</td><td>list, tuple, range</td></tr>
<tr><td>Mapping Type:</td><td>dict</td></tr>
<tr><td>Set Types:</td><td>set, frozenset</td></tr>
<tr><td>Boolean Type:</td><td>bool</td></tr>
<tr><td>Binary Types:</td><td>bytes, bytearray, memoryview</td></tr>
<tr><td>None Type:</td><td>NoneType</td></tr>
</tbody>
</table>
Type Conversion

In [26]:
a = 'abc'
b = '1'
c = "3s"

In [29]:
type(c)

str

In [39]:
a = 100
b = 24.5
c = 3+4j

In [40]:
l = [1,2,3] #List
t = (1,2,3) #Tuple

In [52]:
d = None
# a = int(d) Not Possible
type(d)

NoneType

In [50]:
a = 30
b = float(a)
print(b,type(b))
print(a,type(a))

30.0 <class 'float'>
30 <class 'int'>

In [56]:
c = "1234.567"
a = float(c)
print(a,type(a))

c = "1234"
a = int(c)
print(a,type(a))

1234.567 <class 'float'>
1234 <class 'int'>

In [59]:
c = 'a'
a = ord(c)
print(a)

a = 98
c = chr(a)
print(c)

97
b

In [58]:
a = 98
c = str(a)
print(c,type(c))

98 <class 'str'>

<h2>Operators</h2>
Types of Operators

- Airthmetic: +, -, *, /, %, //, **
- relational: ==, <=, <, >=, >, !=
- logical: and, or, not
- Bitwise: &, |, ~, ^, <<, >>
- Assignment: =, +=, -= ...
- Special: is, is not, in, not in

In [71]:
a = 105
b = 20
c = a/b
print(c)

5.25

In [75]:
a = 20
b = 10
c = a<=b
print(c)

False

In [78]:
a = 100
b = 20
c = 50

d = a > b < c # a > b and b < c
print(d)

True

In [83]:
f = 10
f *= 20
print(f)

200

In [97]:
a = 100
b = 100
print(id(a),id(b))
print(id(a) == id(b))
print(a is b)
print(a is not b)

140726010988056 140726010988056
True
True
False

In [2]:
st = 'a' + str(123)
st

'a123'

## IfElse
- if .. else
- if .. elif .... else
- Nested if

Indentation
Input from user

In [101]:
a = 10
print("Hi")
if a%2 == 0:
    print("Even")
else:
    print("Odd")
print("Bye")

Hi
Even
Bye

In [107]:
age = int(input("Enter your Age:"))
if age < 18:
    print("child")
elif age < 50:
    print("Adult")
else:
    print("Senior")

Enter your Age: 20

Adult

In [14]:
marks = int(input("Enter Your Marks:"))
if 100 >= marks >= 80:
    print("A")
elif 80 > marks >= 60:
    print("B")
elif 60 > marks >= 40:
    print("C")
elif 40> marks >= 0:
    print("Fail")
else:
    print("Invalid Marks")

Enter Your Marks: 45

C

In [110]:
a = 0
c = bool(a)
print(c)

False

## Ternary Operator
Syntax:\
First_val if condn else second_val

In [21]:
a = 10
b = 20
d = 80

c = a if a > b else (b if  b > d else d)
c

80

## while loop

To iterate over a block of code as long as the test expression is true.\
**Syntax:**\
while testExp:\
Body\
else:\
After testExp is false

In [29]:
i = 1
while i <= 5:
 print("Hello")
 i += 1

print("Bye")

Hello
Hello
Hello
Hello
Hello
Bye

In [31]:
N = 10
i = 1
sum = 0
while i <= N:
    sum += i
    i += 1

print(sum)

55

In [43]:
N = 97

i = 2
while i < N:
    if N%i == 0:
        print("Not prime")
        break
    i += 1
else:
    print("Prime")

Prime

In [48]:
a = 10
b = 15

while b != 0:
    t = a
    a = b
    b = t%b

print(a)

5

In [50]:
N = 97

num = 2
while num <= N:
    i = 2
    while i < num:
        if num%i == 0:
            # print("Not prime")
            break
        i += 1
    else:
        # print("Prime")
        print(num,end = " ")
    num += 1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [56]:
N = 6

nst = N
row = 1
while row <= N:

    cst = 1
    while cst <= nst:
        print("*",end = " ")
        cst += 1

    print()
    row += 1

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [60]:
N = 12345
nod = 0
rev = 0
while N != 0:
    rem = N %10
    rev = rev*10 + rem
    print(rem)
    N = N//10
    nod += 1

print("nod: ",nod)
print("rev:", rev)

5
4
3
2
1
nod:  5
rev: 54321

In [3]:
a = int(input())
b = int(input())

 1 2

ValueError: invalid literal for int() with base 10: '1 2'

In [2]:
a,b

(1, 2)

In [7]:
a,b = input().split()
a = int(a)
b = int(b)

 10 20

In [8]:
a,b

(10, 20)

In [9]:
a = b = 0

In [15]:
a = 128
b = 128
print(a is b)

True

In [9]:
s1 = 'abc'
s2 = 'abc'
# s3 = str('abc')
print(id(s1), id(s2),id(s3))

140730101683968 140730101683968 140730101683968

In [23]:
import numpy as np

a = 0.1 + 0.2
b = 0.3

if np.isclose(a, b, rtol=1e-9):
    print("The values are approximately equal.")
else:
    print("The values are not equal.")

The values are approximately equal.